<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"></link>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend+Deca|Dancing+Script|Nanum+Pen+Script">
    <link rel="stylesheet" href="CSS/index.css">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <title>After School Class App</title>
</head>
<body>
    <div id="classApp">
        <header>
            <h1 class="title">{{title}}</h1>
            <h1>Home</h1>
            <h1>How To Buy</h1>
            <h1>Login/Register</h1>
            
            <button 
                v-if="showLessons" 
                class="cartButton"
                :disabled="itemInCart === ''"
                :class="{ 'disabledCartButton': itemInCart === '' }"
                v-on:click="showCartItems">
                <div class='cart'>
                    <div class='cart-btn flex-center' id="cart">
                        <img src="https://cdn-icons-png.flaticon.com/128/3916/3916598.png" width="24" height="24" alt="Cart Icon">
                        <span class="new">{{itemInCart}}</span>
                    </div>
                </div>
            </button>
            <button v-else v-on:click="showCartItems" class="cartLessonButton">
                <div class="backButton">Back to Home</div>
            </button>
        </header>

        <main class="lessonContainer">
            <div v-if="showLessons" class="showLessons">
                <div class="sorting">
                    <div class="inputGroupSortBy">
                        <strong>Sort By:</strong>
                        <select v-model="selectedSort">
                            <option disabled value="">sortBy</option>
                            <option v-for="(state, key) in sortBy" v-bind:value="state">
                                {{key}}
                            </option>
                        </select>
                    </div>
                    <div class="radioButtonSort">
                        <label>
                            <input type="radio" value="asc" v-model="sortOrder"> Asc (↑)
                        </label>
                        <label>
                            <input type="radio" value="desc" v-model="sortOrder"> Desc (↓)
                        </label>
                    </div>
                </div>

                <div  class="lessons">
                    <div v-for="lesson in lessons" :key="lesson.id" class="displayLessons">
                        <figure>
                            <img v-bind:src="lesson.image" :alt="lesson.subject + ' Image'">
                        </figure>
                        <h2 v-text="lesson.subject"></h2>
                        <p v-text="lesson.location"></p>
                        <p>Price: Rs {{lesson.price}}</p>

                        <button 
                            :disabled="lesson.spaces - lessonCartCount(lesson.id) === 0" 
                            :class="{ 'disabledButton': lesson.spaces - lessonCartCount(lesson.id) === 0 }"
                            v-on:click="addItemToCart(lesson)"
                        >
                            Add to Cart
                        </button>
                    
                        <span v-if="lesson.spaces === lessonCartCount(lesson.id)">All seats are taken!</span>
                        <span v-else-if="lesson.spaces - lessonCartCount(lesson.id) < 5">
                            Only {{lesson.spaces - lessonCartCount(lesson.id)}} left!
                        </span>
                        <span v-else>Buy now!</span>

                        <div>
                            <span v-for='n in lesson.rating'>★</span>
                            <span v-for='n in 5 - lesson.rating'>☆</span>
                        </div>
                    </div>
                </div>  
            </div>
            <div v-else class="checkoutContainer">
                <h1>Checkout Page: Enter your details and Verify Purchase > Checkout</h1>
                <div class="checkoutDetails">
                    <div class="lessons">
                        <div v-for="lesson in cart" :key="lesson.uniqueId" class="displayLessons">
                            <figure>
                                <img v-bind:src="lesson.image" :alt="lesson.subject + ' Image'">
                            </figure>
                            <h2 v-text="lesson.subject"></h2>
                            <p v-text="lesson.location"></p>
                            <p>Price: Rs {{lesson.price}}</p>

                            <button v-on:click="removeItemFromCart(lesson)">
                                Remove from Cart
                            </button>
                            
                            <div>
                                <span v-for='n in lesson.rating'>★</span>
                                <span v-for='n in 5 - lesson.rating'>☆</span>
                            </div>
                        </div>
                    </div>

                    <div class="checkout-details">
                        <div class="inputGroup">
                            <strong>First Name:</strong>
                            <input v-model.trim="order.firstName"/>
                        </div>
                    
                        <div class="inputGroup">
                            <strong>Last Name:</strong>
                            <input v-model.trim="order.lastName"/>
                        </div>
                    
                        <div class="inputGroup">
                            <strong>Address:</strong>
                            <input v-model.trim="order.address"/>
                        </div>
    
                        <div class="inputGroup">
                            <strong>Phone Number:</strong>
                            <input v-model.trim="order.phoneNumber"/>
                        </div>
                    
                        <div class="inputGroup">
                            <strong>City:</strong>
                            <input v-model.trim="order.city"/>
                        </div>
                              
                        <div class="inputGroup">
                            <strong>State:</strong>
                            <select v-model="order.state">
                                <option disabled value="">State</option>
                                <option v-for="(state, key) in states"
                                v-bind:value="state">
                                {{key}}
                                </option>
                            </select>
                        </div>
        
                        <div class="inputGroup">
                            <strong>Zip:</strong>
                            <input v-model.number="order.zip" type="number"/>
                        </div>
        
                        <p><input type="checkbox" id="gift" value="true"
                            v-model="order.gift"
                            v-bind:true-value="order.sendGift"
                            v-bind:false-value="order.dontSendGift">
                            <label for="gift">Ship As Gift?</label>
                        </p>
    
                        <p><input type="radio" id="home" value="Home" v-model="order.method">
                            <label for="home">Home</label>
                            <input type="radio" id="business" value="Business" v-model="order.method">
                            <label for="business">Business</label>
                        </p>
                    </div>
                    <button 
                        v-on:click="submitOrder"
                        :disabled="!isFormValid"
                        :class="{ 'disabledButton': !isFormValid }"
                        class="checkoutButton">
                        <div class="left-side">
                            <div class="card">
                            <div class="card-line"></div>
                            <div class="buttons"></div>
                            </div>
                            <div class="post">
                            <div class="post-line"></div>
                            <div class="screen">
                                <div class="dollar">$</div>
                            </div>
                            <div class="numbers"></div>
                            <div class="numbers-line2"></div>
                            </div>
                        </div>
                        <div class="right-side">
                            <div class="new">Checkout {{itemInCart}}</div>
                        </div>
                    </button>
                </div>
            </div>            
        </main>
    </div>
<script src="js/app.js"></script>
</body>
</html>